[gerrit]
  basePath = git
  canonicalWebUrl = http://localhost:8080/
  serverId = free5gc-ci

[index]
  type = lucene

[auth]
  type = DEVELOPMENT_BECOME_ANY_ACCOUNT

[sendemail]
  enable = false

[sshd]
  listenAddress = *:29418

[httpd]
  listenUrl = http://*:8080/

[cache]
  directory = cache

[plugins]
  allowRemoteAdmin = true

[receive]
  enableSignedPush = false

[download]
  command = checkout
  command = cherry_pick
  command = format_patch
  scheme = ssh
  scheme = http

[change]
  mergeabilityComputationBehavior = API_REF_UPDATED_AND_CHANGE_REINDEX

[container]
  javaOptions = "-Dflogger.backend_factory=com.google.common.flogger.backend.log4j2.Log4j2BackendFactory#getInstance"
  javaOptions = "--add-opens java.base/java.net=ALL-UNNAMED"
  javaOptions = "--add-opens java.base/java.lang.invoke=ALL-UNNAMED"
  javaOptions = "-Xmx512m"
